BODY { font-family:arial; font-size:10pt; color:black; background-color: midnightblue}
.sTexteCentre { text-align:center; }
.sLargeurDiv { width:640px; padding-left:10px; padding-right:10px;}

.sEntete {margin-bottom:5px;  border-bottom-width:2px;  border-bottom-style:solid; }
.sPiedDePage {margin-top:5px;  border-top-width:2px;  border-top-style:solid; }
.sTitreApp { font-size:150%; font-weight:bold; text-decoration:underline; } 
.sAuteurApp { font-variant:small-caps; font-style:italic; font-weight:bold;}    
.sCanvas {background-color: black; position: absolute; left:30px; top:30px;}

A:link IMG, A:visited IMG { border:none; }
A:hover IMG { border-style:double; border-width:2px; border-color:Green;}


